[flake8]
ignore = E203,E266,E302,E501,W503,F824
exclude =
    .git,
    __pycache__,
    scripts/klayout,
    docker/tar,
    install/,
    venv/,
    pdks/,
    dependencies/includedyaml
per-file-ignores =
    dependencies/env_info.py:F401,
    dependencies/version.py:F401
