[submodule "designs/aes_user_project_wrapper"]
	path = designs/aes_user_project_wrapper
	url = git@github.com:kareefardi/openlane-aes_user_project_wrapper.git
	shallow = true
[submodule "designs/ci"]
	path = designs/ci
	url = git@github.com:kareefardi/openlane-designs.git
	shallow = true
