# vim swaps
**/*.swp
tags
.vim

# Flow Artefacts
dummy.guide
lefRWarning.log
run.param
macrocell.list
default.cvcrc
*.log
./logs/
# Python cache
**/__pycache__

# Mac
.DS_Store

# VScode
**/.vscode/

# Local docs Build
**/_build/

# Regression artifacts
*.config

# PDK
pdks/
