# Copyright 2020 Efabless Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

language: minimal

branches:
  only:
    - develop
    - master
    - staging
    - /^(?i:develop)-.*$/

services:
    - docker

os: 
  - linux

jobs:
  include:
    - name: "Base Test"
      env: TEST_SET=spm
    - name: "Typical Test Set 2"
      env: TEST_SET=typicalTestSet2
    - name: "Typical Test Set 1"
      env: TEST_SET=typicalTestSet1
    - name: "aes_cipher"
      env: TEST_SET=aes_cipher
    - name: "des"
      env: TEST_SET=des
    - name: "Fastest Test Set"
      env: TEST_SET=fastestTestSet
    - name: "aes128"
      env: TEST_SET=aes128
    - name: "aes192"
      env: TEST_SET=aes192
    - name: "aes256"
      env: TEST_SET=aes256
    - name: "jpeg_encoder"
      env: TEST_SET=jpeg_encoder
    - name: "point_add"
      env: TEST_SET=point_add
  allow_failures:
    - name: "aes128"
      env: TEST_SET=aes128
    - name: "aes192"
      env: TEST_SET=aes192
    - name: "aes256"
      env: TEST_SET=aes256
    - name: "jpeg_encoder"
      env: TEST_SET=jpeg_encoder
    - name: "point_add"
      env: TEST_SET=point_add

install:
  - sh travisCI/travisBuild.sh

script:
  - bash travisCI/travisTest.sh $TEST_SET
