furo==2023.8.19
docutils>=0.17,<1
sphinx>=7.2.2
sphinx-autobuild>=2021.3.14
sphinx-autodoc-typehints>=1.24.0
sphinx-design>=0.5.0,<1
myst-parser>=2.0.0,<3
docstring-parser>=0.15,<1
sphinx-tippy>=0.4.1,<1
sphinx-copybutton>=0.5.2,<1
sphinxcontrib-spelling>=8.0.0,<9
sphinxcontrib-bibtex>=2.6.0,<3
sphinx-subfigure>=0.2.4,<1
