name: Deprecated Image Deletion

on: [delete]

jobs:
  delete-docker-image:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2

      - name: Export Deletion Ref
        run: echo "DELETION_REF=${{ github.event.ref }}" >> $GITHUB_ENV

      - name: Export Branch Name
        run: echo "BRANCH_NAME=${DELETION_REF##*/}" >> $GITHUB_ENV

      - name: Delete Docker Image if needed
        env:
          SECRET_USER_NAME: ${{ secrets.DOCKERHUB_USER }}
          SECRET_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
        run: cd ${GITHUB_WORKSPACE}/ && bash ${GITHUB_WORKSPACE}/.github/scripts/deleteDockerImage.sh "$SECRET_USER_NAME" "$SECRET_PASSWORD" > /dev/null 2>&1

