name: Tool Updater

on:
  # Runs every day at midnight UTC
  schedule:
    - cron: "0 0 * * *"
  # Manual Dispatch
  workflow_dispatch:

jobs:
  create-cid-tools-branches:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        tools: [magic, netgen, yosys, openroad_app]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ secrets.MAIN_BRANCH }}

      - name: Set up environment variables
        uses: ./.github/actions/set_env_variables

      - name: Export TOOL Name
        run: echo "TOOL=${{ matrix.tools }}" >> $GITHUB_ENV

      - name: Update TOOL
        run: cd ${GITHUB_WORKSPACE}/ && python3 ${GITHUB_WORKSPACE}/.github/scripts/update_tools.py ${{ env.TOOL }}

      - name: Create Pull Request
        if: ${{ env.NO_UPDATE != '1' }}
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.MY_TOKEN }}
          title: "[BOT] Update ${{ env.TOOL }}"
          author: ${{ secrets.BOT_AUTHOR_LINE }}
          committer: ${{ secrets.BOT_AUTHOR_LINE }}
          body: |
            This is an automated PR.

            See the individual commits for details.
          commit-message: |
            [BOT] Update ${{ env.TOOL }}

            ${{ env.TOOL }} -> ${{ env.TOOL_COMMIT_HASH }}
          branch: ${{ matrix.tools }}-update-branch
          push-to-fork: ${{ secrets.FORK_NAME }}
          delete-branch: true
  create-cid-pdk-branch:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ secrets.MAIN_BRANCH }}

      - name: Set up environment variables
        uses: ./.github/actions/set_env_variables

      - name: Update PDK
        run: python3 ${GITHUB_WORKSPACE}/.github/scripts/update_tools.py open_pdks

      - name: Create Pull Request
        if: ${{ env.NO_UPDATE != '1' }}
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.MY_TOKEN }}
          title: "[BOT] Update PDK"
          author: ${{ secrets.BOT_AUTHOR_LINE }}
          committer: ${{ secrets.BOT_AUTHOR_LINE }}
          body: |
            This is an automated PR.

            See the individual commits for details.
          commit-message: |
            [BOT] Update PDK

            sky130 -> ${{ env.SKY130_COMMIT_HASH }}
            open_pdks -> ${{ env.OPEN_PDKS_COMMIT_HASH }}
          base: ${{ env.BRANCH_NAME }}
          branch: pdk-update-branch
          push-to-fork: ${{ secrets.FORK_NAME }}
          delete-branch: true
